[Bb]in/
[Oo]bj/
[Pp]ublish/
.vs/
.idea/
*.user
*.suo
server_stdout.txt
publish/
/RoslynSentinel.Server/all_methods_all.csv
/RoslynSentinel.Server/all_methods_workspace.csv
RoslynSentinel.Server/engine_methods_all.json
RoslynSentinel.Server/engine_methods_workspace.json
/RoslynSentinel.Server/engine_methods_workspace.json
/RoslynSentinel.Server/engine_methods_all.json
*.json
/RoslynSentinel.HttpHost/tools.csv
/RoslynSentinel.HttpHost/tools.json
